{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["prettier"],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-console": 0
  }
}
