{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["prettier"],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "react/no-unused-state": "warn",
    "no-console": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "react/no-array-index-key": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0
  }
}
