@font-face {
  font-family: Oxygen;
  src: url('./Oxygen.ttf');
}
body {
  font-family: Oxygen;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #33333D;
  // align-items: center;
  // height: 100vh;
  #root {
    width: 100vw;
  }
}
.colorstyle {
  background: linear-gradient(135deg, #723362, #9d223c);
  color: white;
}
