/* Styles of Links Component */
.Links {
  position: fixed;
  z-index: 9;
  bottom: 0;
  margin: auto;
  right: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  .linkList {
    display: flex;
    justify-content: center;
    li {
      a {
        font-size: 20px;
      }
    }
  }
}
