.Titles {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  > * {
    user-select: none;
  }
  h2 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 5px;
    opacity: 0.5;
  }
  .title {
    font-size: 60px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.5em;
    padding-left: 0.5em;
    font-weight: lighter;
    transition: .3s;
    &:first-child {
      margin: 10px 0;
    }
    &:last-child {
      text-transform: uppercase;
      font-size: 14px;
      opacity: .7;
    }
  }
}

