/* Styles of Stack Component */
.Stack {
  margin-bottom: 40px;
  position: relative;
  .stack {
    display: flex;
    @media only screen and (max-width: 826px) {
      flex-direction: column;
    }
    .tech {
      display: flex;
      width: 300px;
      @media only screen and (max-width: 826px) {
        width: 400px;
      }
      @media only screen and (max-width: 350px) {
        width: 200px;
      }
      @media only screen and (max-width: 460px) {
        width: 240px;
      }
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding: 0 10px 15px;
      margin: 10px 10px 0;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
      h3 {
        margin-right: 5px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // width: 250px;
        li {
          margin: 5px 15px;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          justify-content: center;
          transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
          cursor: default;
          user-select: none;
          &:hover {
            filter: drop-shadow(2px 2px 7px rgba(0, 0, 0, 0.7));
          }
          img {
            width: 60px;
          }
        }
      }
    }
  }
  .load {
    background: #fff;
    height: 82%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
